* {
    box-sizing: border-box;
    font-family: 'bitter', 'times new roman', serif;
}

:root {
    --light-gray: #EDEDF5;
    --seafoam: #9DCBCC;
    --navy: #475875;
    --gray: #32343C;
}

body {
    background-color: var(--light-gray);
}

nav {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    background-color: var(--gray);
}

nav h1 {
    font-size: 40px;
    color: var(--gray);
    font-family:sans-serif;
    font-weight: bold;
    background-color: var(--seafoam);
    padding: 16px 16px 12px 80px;
    margin: 24px 32px 16px 0px;
}

nav ul {
    position: absolute;
    right: 32px;
    margin: 24px;
}

nav li {
    display: inline-block;
    border-bottom: solid 3px var(--seafoam);
    padding: 10px;
    margin:auto 10px;
    font-size: 18px;
    font-weight: 700;
    color: var(--seafoam);
}

.hero-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

main {
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: top;
    height: fit-content;
    border: solid black 1px;
}

.title {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* border-right: solid 4px var(--navy); */
    padding: 8px 0px 8px 4px;
    margin: 32px 0px 0px 60px;
}

h2 {
    font-size: 56px;
    font-weight: 500;
    font-family: sans-serif;
    text-align: right;
    color: var(--navy);
}

.description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 75%;
    padding-bottom: 32px;
    margin-top: 32px;
    right: 56px;
}

.description p {
    padding: 0px 48px 32px 56px;
    border-left: solid var(--navy);
    margin-left: 16px;
    line-height: 150%;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: top;
    height: fit-content;
    margin-bottom: 48px;
    border: solid black 1px;
}

.large-card {
    display: flex;
    flex: wrap;
    flex-direction: column;
    position: relative;
    padding: 0px 48px 32px 56px;
    border-left: solid var(--navy);
    margin-left: 16px;
    margin-top: 32px;
    height: 400px;
    width: 75%;
    align-items:baseline;
}

.large-card img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border: solid 4px var(--seafoam);
} 

.float-box {
    display: flex;
    flex: wrap;
    flex-direction:column;
    flex: 1;
    position: absolute;
    bottom: 20%;
    z-index: 1;
    background: var(--seafoam);
    width: fit-content;
    padding: 16px 16px 16px 20%;
}
